.description_block {

  // display: flex;
  // width: 100%;
  flex: 1 1 55%;

  background-color: lighten(#000000e6, 20%);
  margin: 3px 0;
  padding: 15px;

  border: 1px solid white;
  border-radius: 15px;



  &--invite {
    margin: 0 0 5px 20px;
  }


}

.media_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &--img {
    width: 200px;
    height: 155px;
    // border: 1px solid red;

    border-radius: 15px;

    object-fit: cover;
    margin: 0 10px;
  }

  &--info {
    flex: 1 1 auto;
    padding: 0 25px;

    // font-size: 2rem;
  }

  &--name {
    padding: 4px 0;
font-size: 2rem;
    border-bottom: 1px solid gray;

  }

  &--species {
    padding: 4px 0;

    border-bottom: 1px solid gray;
  }

  &--player {
    // padding: 20px 0;
    // border-bottom: 1px solid gray;
    width: 100%;
    margin: 15px 0;
  
    outline: none;
  }
}

.text_wrapper {
  font-size: 0.85rem;
}
